@import "tailwindcss";

@theme {
  --color-main: #b8e7ff;
  --color-sub: #ffb8f4;
  --color-heavyBlue: #6bbbe4;
  --color-softBlue: #eaf8ff;
  --color-softPink: #ffe6fb;
  --color-heavyPink: #ff71e9;
  --color-slightWhile: #f8fafc;
  --color-youtubeRed: #ff0033;
}

body {
  color: #333333;
}

a:focus {
  outline: none;
}

input {
  /* 1. 移除 Tab 選中的黑框 */
  outline: none;

  /* 2. 移除 iOS 行動裝置點擊時出現的灰色半透明高亮 */
  -webkit-tap-highlight-color: transparent;

  /* 3. 移除內部的預設陰影（特別是某些舊版瀏覽器） */
  appearance: none;
  -webkit-appearance: none;
}

select {
  /* 移除瀏覽器預設外觀 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 移除 IE 的預設箭頭 */
  &::-ms-expand {
    display: none;
  }
}

select:focus {
  outline: none;
  box-shadow: none;
}

ruby {
  ruby-align: center; /* 讓讀音置中 */
}

rt {
  font-size: 0.6em; /* 讀音通常為本體字大小的 60% */
  color: #666666; /* 稍微淡一點的顏色增加閱讀舒適度 */
  /* user-select: none;  防止使用者複製時選取到讀音，方便只複製日文句子 */
}
